.main{
    position: fixed;
    display: flex;
}
.maina{
    position: fixed;
    top: 72px;
    left: 166px;
}
.mainb{
    position: inherit;
    display: inline;
    top: 106px;
    left: 906px;
}
.moto {
    position: inherit;
    top: 183px;
    left: 905px;
    width: 500px;
    height: 100px;
    font: normal normal 300 40px/47px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}
.experts{
    z-index: 1;
    font: normal normal 900 40px/53px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
}
.todo{
    position:fixed;
    top: 315px;
    left: 904px;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}